/*
Du kan skriva vilken CSS-regel som helst som känns igen av GTK+ här.
Du kan tillfälligt inaktivera denna anpassade CSS genom att klicka på ”Paus”-knappen ovanför.

Ändringar tillämpas omedelbart och globalt för hela programmet.
*/

/*@define-color color0 #000;
@define-color color1 #555;
@define-color color2 #999;
@define-color color3 #fff;

window {
	background: @color0;
	color: @color3;
}

grid button:hover,
grid entry:focus {
	background: @color1;
}

grid entry>* {
	min-width: 0px;
	background-size: 0px 0px;
}

grid row {
	background: #0f0;
}

grid button,
grid entry {
	margin: 0px;
	padding: 0px;
	border: none;
	border-radius: 0px;
	outline: none;
	-gtk-outline-radius: 0px;

	min-height: 1rem;

	background: transparent;
}
*/
